<?xml version="1.0"?>
<!--
/**
 * This source file is subject to the selise.ch for short period of time
 *
 * @category  Core Function
 * @package   Selise_Core
 * @copyright Copyright (c) Selise (https://selise.ch) for short period of time
 * @author    Suvankar Paul <shuvoenr@gmail.com>
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="selise" translate="label" sortOrder="400" class="selise">
            <label>Selise</label>
        </tab>
        <section id="selise_documentation" translate="label" type="text" sortOrder="290" showInDefault="1">
            <class>separator-top</class>
            <label>Documentation</label>
            <tab>selise</tab>
            <resource>Selise_Core::documentation</resource>
            <group id="general" translate="label" type="text" sortOrder="5" showInDefault="1">
                <label>Selise Documentation</label>
                <field id="documentation_doc" translate="label comment" showInDefault="1">
                    <frontend_model>Selise\Core\Block\System\Config\Fieldset\Hint\Documentation</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
