<?xml version="1.0"?>
<!--
/**
 * This source file is subject to the selise.ch for short period of time
 *
 * @category  Core Function
 * @package   Selise_Core
 * @copyright Copyright (c) Selise (https://selise.ch) for short period of time
 * @author    Suvankar Paul <shuvoenr@gmail.com>
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin" title="Magento Admin">
                <resource id="Selise_Core::core" title="Selise" translate="title" sortOrder="900">
                    <resource id="Selise_Core::documentation" title="Documentation" translate="title" sortOrder="1000" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
